# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
#Import your libraries

import numpy as np
import pandas as pd

# Introduction

In this lab, we will use two datasets. Both datasets contain variables that describe apps from the Google Play Store. We will use our knowledge in feature extraction to process these datasets and prepare them for the use of a ML algorithm.

# Challenge 1 - Loading and Extracting Features from the First Dataset

#### In this challenge, our goals are: 

* Exploring the dataset.
* Identify the columns with missing values.
* Either replacing the missing values in each column or drop the columns.
* Conver each column to the appropriate type.

#### The first dataset contains different information describing the apps. 

Load the dataset into the variable `google_play` in the cell below. The dataset is in the file `googleplaystore.csv`

In [2]:
# Your code here:

google_play = pd.read_csv('../googleplaystore.csv')

#### Examine all variables and their types in the following cell

In [3]:
google_play.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

#### Since this dataset only contains one numeric column, let's skip the `describe()` function and look at the first 5 rows using the `head()` function

In [4]:
google_play.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

#### We can see that there are a few columns that could be coerced to numeric.

Start with the reviews column. We can evaluate what value is causing this column to be of object type finding the non-numeric values in this column. To do this, we recall the `to_numeric()` function. With this function, we are able to coerce all non-numeric data to null. We can then use the `isnull()` function to subset our dataframe using the True/False column that this function generates.

In the cell below, transform the Reviews column to numeric and assign this new column to the variable `Reviews_numeric`. Make sure to coerce the errors.

In [5]:
google_play["Reviews_numeric"] = pd.to_numeric(google_play["Reviews"], errors="coerce")

Next, create a column containing True/False values using the `isnull()` function. Assign this column to the `Reviews_isnull` variable.

In [6]:
google_play["Reviews_isnull"] = google_play["Reviews_numeric"].isnull()

Finally, subset the `google_play` with `Reviews_isnull`. This should give you all the rows that contain non-numeric characters.

Your output should look like:

![Reviews_bool.png](reviews-bool.png)

In [7]:
google_play[google_play["Reviews_isnull"]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,NaN,True

#### We see that Google Play is using a shorthand for millions. 

Let's write a function to transform this data.

Steps:

1. Create a function that returns the correct numeric values of *Reviews*.
1. Define a test string with `M` in the last character.
1. Test your function with the test string. Make sure your function works correctly. If not, modify your functions and test again.

In [8]:
# Your code here

def convert_string_to_numeric(s):
    """
    Convert a string value to numeric. If the last character of the string is `M`, obtain the 
    numeric part of the string, multiply it with 1,000,000, then return the result. Otherwise, 
    convert the string to numeric value and return the result.
    
    Args:
        s: The Reviews score in string format.

    Returns:
        The correct numeric value of the Reviews score.
    """
    if "M" in s:
        return int(float(s[:-1])*1e6)
    else:
        return int(s)

test_string = '4.0M'

convert_string_to_numeric(test_string) == 4000000

True

The last step is to apply the function to the `Reviews` column in the following cell:

In [9]:
google_play["Reviews"] = google_play["Reviews"].transform(convert_string_to_numeric)

Check the non-numeric `Reviews` row again. It should have been fixed now and you should see:

![Reviews_bool_fixed.png](reviews-bool-fixed.png)

In [10]:
google_play[google_play["Reviews_isnull"]]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3000000,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,NaN,True

Also check the variable types of `google_play`. The `Reviews` column should be a `float64` type now.

In [11]:
print(google_play.dtypes)

App                 object
Category            object
Rating             float64
Reviews              int64
Size                object
Installs            object
Type                object
Price               object
Content Rating      object
Genres              object
Last Updated        object
Current Ver         object
Android Ver         object
Reviews_numeric    float64
Reviews_isnull        bool
dtype: object

#### The next column we will look at is `Size`. We start by looking at all unique values in `Size`:

*Hint: use `unique()` ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html))*.

In [12]:
google_play["Size"].unique()

array([&#39;19M&#39;, &#39;14M&#39;, &#39;8.7M&#39;, &#39;25M&#39;, &#39;2.8M&#39;, &#39;5.6M&#39;, &#39;29M&#39;, &#39;33M&#39;, &#39;3.1M&#39;,
       &#39;28M&#39;, &#39;12M&#39;, &#39;20M&#39;, &#39;21M&#39;, &#39;37M&#39;, &#39;2.7M&#39;, &#39;5.5M&#39;, &#39;17M&#39;, &#39;39M&#39;,
       &#39;31M&#39;, &#39;4.2M&#39;, &#39;7.0M&#39;, &#39;23M&#39;, &#39;6.0M&#39;, &#39;6.1M&#39;, &#39;4.6M&#39;, &#39;9.2M&#39;,
       &#39;5.2M&#39;, &#39;11M&#39;, &#39;24M&#39;, &#39;Varies with device&#39;, &#39;9.4M&#39;, &#39;15M&#39;, &#39;10M&#39;,
       &#39;1.2M&#39;, &#39;26M&#39;, &#39;8.0M&#39;, &#39;7.9M&#39;, &#39;56M&#39;, &#39;57M&#39;, &#39;35M&#39;, &#39;54M&#39;, &#39;201k&#39;,
       &#39;3.6M&#39;, &#39;5.7M&#39;, &#39;8.6M&#39;, &#39;2.4M&#39;, &#39;27M&#39;, &#39;2.5M&#39;, &#39;16M&#39;, &#39;3.4M&#39;,
       &#39;8.9M&#39;, &#39;3.9M&#39;, &#39;2.9M&#39;, &#39;38M&#39;, &#39;32M&#39;, &#39;5.4M&#39;, &#39;18M&#39;, &#39;1.1M&#39;,
       &#39;2.2M&#39;, &#39;4.5M&#39;, &#39;9.8M&#39;, &#39;52M&#39;, &#39;9.0M&#39;, &#39;6.7M&#39;, &#39;30M&#39;, &#39;2.6M&#39;,
       &#39;7.1M&#39;, &#39;3.7M&#39;, &#39;22M&#39;, &#39;7.4M&#39;, &#39;6.4M&#39;, &#39;3.2M&#39;, &#39;8.2M&#39;, &#39;9.9M&#39;,
       &#39;4.9M&#39;, &#39;9.5M&#39;, &#39;5.0M&#39;, &#39;5.9M&#39;, &#39;13M&#39;, &#39;73M&#39;, &#39;6.8M&#39;, &#39;3.5M&#39;,
       &#39;4.0M&#39;, &#39;2.3M&#39;, &#39;7.2M&#39;, &#39;2.1M&#39;, &#39;42M&#39;, &#39;7.3M&#39;, &#39;9.1M&#39;, &#39;55M&#39;,
       &#39;23k&#39;, &#39;6.5M&#39;, &#39;1.5M&#39;, &#39;7.5M&#39;, &#39;51M&#39;, &#39;41M&#39;, &#39;48M&#39;, &#39;8.5M&#39;, &#39;46M&#39;,
       &#39;8.3M&#39;, &#39;4.3M&#39;, &#39;4.7M&#39;, &#39;3.3M&#39;, &#39;40M&#39;, &#39;7.8M&#39;, &#39;8.8M&#39;, &#39;6.6M&#39;,
       &#39;5.1M&#39;, &#39;61M&#39;, &#39;66M&#39;, &#39;79k&#39;, &#39;8.4M&#39;, &#39;118k&#39;, &#39;44M&#39;, &#39;695k&#39;, &#39;1.6M&#39;,
       &#39;6.2M&#39;, &#39;18k&#39;, &#39;53M&#39;, &#39;1.4M&#39;, &#39;3.0M&#39;, &#39;5.8M&#39;, &#39;3.8M&#39;, &#39;9.6M&#39;,
       &#39;45M&#39;, &#39;63M&#39;, &#39;49M&#39;, &#39;77M&#39;, &#39;4.4M&#39;, &#39;4.8M&#39;, &#39;70M&#39;, &#39;6.9M&#39;, &#39;9.3M&#39;,
       &#39;10.0M&#39;, &#39;8.1M&#39;, &#39;36M&#39;, &#39;84M&#39;, &#39;97M&#39;, &#39;2.0M&#39;, &#39;1.9M&#39;, &#39;1.8M&#39;,
       &#39;5.3M&#39;, &#39;47M&#39;, &#39;556k&#39;, &#39;526k&#39;, &#39;76M&#39;, &#39;7.6M&#39;, &#39;59M&#39;, &#39;9.7M&#39;, &#39;78M&#39;,
       &#39;72M&#39;, &#39;43M&#39;, &#39;7.7M&#39;, &#39;6.3M&#39;, &#39;334k&#39;, &#39;34M&#39;, &#39;93M&#39;, &#39;65M&#39;, &#39;79M&#39;,
       &#39;100M&#39;, &#39;58M&#39;, &#39;50M&#39;, &#39;68M&#39;, &#39;64M&#39;, &#39;67M&#39;, &#39;60M&#39;, &#39;94M&#39;, &#39;232k&#39;,
       &#39;99M&#39;, &#39;624k&#39;, &#39;95M&#39;, &#39;8.5k&#39;, &#39;41k&#39;, &#39;292k&#39;, &#39;11k&#39;, &#39;80M&#39;, &#39;1.7M&#39;,
       &#39;74M&#39;, &#39;62M&#39;, &#39;69M&#39;, &#39;75M&#39;, &#39;98M&#39;, &#39;85M&#39;, &#39;82M&#39;, &#39;96M&#39;, &#39;87M&#39;,
       &#39;71M&#39;, &#39;86M&#39;, &#39;91M&#39;, &#39;81M&#39;, &#39;92M&#39;, &#39;83M&#39;, &#39;88M&#39;, &#39;704k&#39;, &#39;862k&#39;,
       &#39;899k&#39;, &#39;378k&#39;, &#39;266k&#39;, &#39;375k&#39;, &#39;1.3M&#39;, &#39;975k&#39;, &#39;980k&#39;, &#39;4.1M&#39;,
       &#39;89M&#39;, &#39;696k&#39;, &#39;544k&#39;, &#39;525k&#39;, &#39;920k&#39;, &#39;779k&#39;, &#39;853k&#39;, &#39;720k&#39;,
       &#39;713k&#39;, &#39;772k&#39;, &#39;318k&#39;, &#39;58k&#39;, &#39;241k&#39;, &#39;196k&#39;, &#39;857k&#39;, &#39;51k&#39;,
       &#39;953k&#39;, &#39;865k&#39;, &#39;251k&#39;, &#39;930k&#39;, &#39;540k&#39;, &#39;313k&#39;, &#39;746k&#39;, &#39;203k&#39;,
       &#39;26k&#39;, &#39;314k&#39;, &#39;239k&#39;, &#39;371k&#39;, &#39;220k&#39;, &#39;730k&#39;, &#39;756k&#39;, &#39;91k&#39;,
       &#39;293k&#39;, &#39;17k&#39;, &#39;74k&#39;, &#39;14k&#39;, &#39;317k&#39;, &#39;78k&#39;, &#39;924k&#39;, &#39;902k&#39;, &#39;818k&#39;,
       &#39;81k&#39;, &#39;939k&#39;, &#39;169k&#39;, &#39;45k&#39;, &#39;475k&#39;, &#39;965k&#39;, &#39;90M&#39;, &#39;545k&#39;, &#39;61k&#39;,
       &#39;283k&#39;, &#39;655k&#39;, &#39;714k&#39;, &#39;93k&#39;, &#39;872k&#39;, &#39;121k&#39;, &#39;322k&#39;, &#39;1.0M&#39;,
       &#39;976k&#39;, &#39;172k&#39;, &#39;238k&#39;, &#39;549k&#39;, &#39;206k&#39;, &#39;954k&#39;, &#39;444k&#39;, &#39;717k&#39;,
       &#39;210k&#39;, &#39;609k&#39;, &#39;308k&#39;, &#39;705k&#39;, &#39;306k&#39;, &#39;904k&#39;, &#39;473k&#39;, &#39;175k&#39;,
       &#39;350k&#39;, &#39;383k&#39;, &#39;454k&#39;, &#39;421k&#39;, &#39;70k&#39;, &#39;812k&#39;, &#39;442k&#39;, &#39;842k&#39;,
       &#39;417k&#39;, &#39;412k&#39;, &#39;459k&#39;, &#39;478k&#39;, &#39;335k&#39;, &#39;782k&#39;, &#39;721k&#39;, &#39;430k&#39;,
       &#39;429k&#39;, &#39;192k&#39;, &#39;200k&#39;, &#39;460k&#39;, &#39;728k&#39;, &#39;496k&#39;, &#39;816k&#39;, &#39;414k&#39;,
       &#39;506k&#39;, &#39;887k&#39;, &#39;613k&#39;, &#39;243k&#39;, &#39;569k&#39;, &#39;778k&#39;, &#39;683k&#39;, &#39;592k&#39;,
       &#39;319k&#39;, &#39;186k&#39;, &#39;840k&#39;, &#39;647k&#39;, &#39;191k&#39;, &#39;373k&#39;, &#39;437k&#39;, &#39;598k&#39;,
       &#39;716k&#39;, &#39;585k&#39;, &#39;982k&#39;, &#39;222k&#39;, &#39;219k&#39;, &#39;55k&#39;, &#39;948k&#39;, &#39;323k&#39;,
       &#39;691k&#39;, &#39;511k&#39;, &#39;951k&#39;, &#39;963k&#39;, &#39;25k&#39;, &#39;554k&#39;, &#39;351k&#39;, &#39;27k&#39;,
       &#39;82k&#39;, &#39;208k&#39;, &#39;913k&#39;, &#39;514k&#39;, &#39;551k&#39;, &#39;29k&#39;, &#39;103k&#39;, &#39;898k&#39;,
       &#39;743k&#39;, &#39;116k&#39;, &#39;153k&#39;, &#39;209k&#39;, &#39;353k&#39;, &#39;499k&#39;, &#39;173k&#39;, &#39;597k&#39;,
       &#39;809k&#39;, &#39;122k&#39;, &#39;411k&#39;, &#39;400k&#39;, &#39;801k&#39;, &#39;787k&#39;, &#39;237k&#39;, &#39;50k&#39;,
       &#39;643k&#39;, &#39;986k&#39;, &#39;97k&#39;, &#39;516k&#39;, &#39;837k&#39;, &#39;780k&#39;, &#39;961k&#39;, &#39;269k&#39;,
       &#39;20k&#39;, &#39;498k&#39;, &#39;600k&#39;, &#39;749k&#39;, &#39;642k&#39;, &#39;881k&#39;, &#39;72k&#39;, &#39;656k&#39;,
       &#39;601k&#39;, &#39;221k&#39;, &#39;228k&#39;, &#39;108k&#39;, &#39;940k&#39;, &#39;176k&#39;, &#39;33k&#39;, &#39;663k&#39;,
       &#39;34k&#39;, &#39;942k&#39;, &#39;259k&#39;, &#39;164k&#39;, &#39;458k&#39;, &#39;245k&#39;, &#39;629k&#39;, &#39;28k&#39;,
       &#39;288k&#39;, &#39;775k&#39;, &#39;785k&#39;, &#39;636k&#39;, &#39;916k&#39;, &#39;994k&#39;, &#39;309k&#39;, &#39;485k&#39;,
       &#39;914k&#39;, &#39;903k&#39;, &#39;608k&#39;, &#39;500k&#39;, &#39;54k&#39;, &#39;562k&#39;, &#39;847k&#39;, &#39;957k&#39;,
       &#39;688k&#39;, &#39;811k&#39;, &#39;270k&#39;, &#39;48k&#39;, &#39;329k&#39;, &#39;523k&#39;, &#39;921k&#39;, &#39;874k&#39;,
       &#39;981k&#39;, &#39;784k&#39;, &#39;280k&#39;, &#39;24k&#39;, &#39;518k&#39;, &#39;754k&#39;, &#39;892k&#39;, &#39;154k&#39;,
       &#39;860k&#39;, &#39;364k&#39;, &#39;387k&#39;, &#39;626k&#39;, &#39;161k&#39;, &#39;879k&#39;, &#39;39k&#39;, &#39;970k&#39;,
       &#39;170k&#39;, &#39;141k&#39;, &#39;160k&#39;, &#39;144k&#39;, &#39;143k&#39;, &#39;190k&#39;, &#39;376k&#39;, &#39;193k&#39;,
       &#39;246k&#39;, &#39;73k&#39;, &#39;658k&#39;, &#39;992k&#39;, &#39;253k&#39;, &#39;420k&#39;, &#39;404k&#39;, &#39;1,000+&#39;,
       &#39;470k&#39;, &#39;226k&#39;, &#39;240k&#39;, &#39;89k&#39;, &#39;234k&#39;, &#39;257k&#39;, &#39;861k&#39;, &#39;467k&#39;,
       &#39;157k&#39;, &#39;44k&#39;, &#39;676k&#39;, &#39;67k&#39;, &#39;552k&#39;, &#39;885k&#39;, &#39;1020k&#39;, &#39;582k&#39;,
       &#39;619k&#39;], dtype=object)

You should have seen lots of unique values of the app sizes.

#### While we can convert most of the `Size` values to numeric in the same way we converted the `Reviews` values, there is one value that is impossible to convert.

What is that badass value? Enter it in the next cell and calculate the proportion of its occurence to the total number of records of `google_play`.

In [13]:
(google_play["Size"] == "Varies with device").sum()/google_play.shape[0]

0.15635089013928605

#### While this column may be useful for other types of analysis, we opt to drop it from our dataset. 

There are two reasons. First, the majority of the data are ordinal but a sizeable proportion are missing because we cannot convert them to numerical values. Ordinal data are both numerical and categorical, and they usually can be ranked (e.g. 82k is smaller than 91M). In contrast, non-ordinal categorical data such as blood type and eye color cannot be ranked. The second reason is as a categorical column, it has too many unique values to produce meaningful insights. Therefore, in our case the simplest strategy would be to drop the column.

Drop the column in the cell below (use `inplace=True`)

In [14]:
google_play.drop(columns="Size", inplace=True)

#### Now let's look at how many missing values are in each column. 

This will give us an idea of whether we should come up with a missing data strategy or give up on the column all together. In the next column, find the number of missing values in each column: 

*Hint: use the `isna()` and `sum()` functions.*

In [15]:
google_play.isnull().sum()

App                   0
Category              0
Rating             1474
Reviews               0
Installs              0
Type                  1
Price                 0
Content Rating        1
Genres                0
Last Updated          0
Current Ver           8
Android Ver           3
Reviews_numeric       1
Reviews_isnull        0
dtype: int64

You should find the column with the most missing values is now `Rating`.

#### What is the proportion of the missing values in `Rating` to the total number of records?

Enter your answer in the cell below.

In [16]:
google_play["Rating"].isnull().sum()/google_play.shape[0]

0.13596531685268887

A sizeable proportion of the `Rating` column is missing. A few other columns also contain several missing values.

#### We opt to preserve these columns and remove the rows containing missing data.

In particular, we don't want to drop the `Rating` column because:

* It is one of the most important columns in our dataset. 

* Since the dataset is not a time series, the loss of these rows will not have a negative impact on our ability to analyze the data. It will, however, cause us to lose some meaningful observations. But the loss is limited compared to the gain we receive by preserving these columns.

In the cell below, remove all rows containing at least one missing value. Use the `dropna()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)). Assign the new dataframe to the variable `google_missing_removed`.

In [17]:
google_missing_removed = google_play.dropna()

From now on, we use the `google_missing_removed` variable instead of `google_play`.

#### Next, we look at the `Last Updated` column.

The `Last Updated` column seems to contain a date, though it is classified as an object type. Let's convert this column using the `pd.to_datetime` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)).

In [18]:
google_missing_removed["Last Updated"] = pd.to_datetime(google_missing_removed["Last Updated"])

#### The last column we will transform is `Price`. 

We start by looking at the unique values of this column.

In [19]:
google_missing_removed["Price"].unique()

array([&#39;0&#39;, &#39;$4.99&#39;, &#39;$3.99&#39;, &#39;$6.99&#39;, &#39;$7.99&#39;, &#39;$5.99&#39;, &#39;$2.99&#39;, &#39;$3.49&#39;,
       &#39;$1.99&#39;, &#39;$9.99&#39;, &#39;$7.49&#39;, &#39;$0.99&#39;, &#39;$9.00&#39;, &#39;$5.49&#39;, &#39;$10.00&#39;,
       &#39;$24.99&#39;, &#39;$11.99&#39;, &#39;$79.99&#39;, &#39;$16.99&#39;, &#39;$14.99&#39;, &#39;$29.99&#39;,
       &#39;$12.99&#39;, &#39;$2.49&#39;, &#39;$10.99&#39;, &#39;$1.50&#39;, &#39;$19.99&#39;, &#39;$15.99&#39;, &#39;$33.99&#39;,
       &#39;$39.99&#39;, &#39;$3.95&#39;, &#39;$4.49&#39;, &#39;$1.70&#39;, &#39;$8.99&#39;, &#39;$1.49&#39;, &#39;$3.88&#39;,
       &#39;$399.99&#39;, &#39;$17.99&#39;, &#39;$400.00&#39;, &#39;$3.02&#39;, &#39;$1.76&#39;, &#39;$4.84&#39;, &#39;$4.77&#39;,
       &#39;$1.61&#39;, &#39;$2.50&#39;, &#39;$1.59&#39;, &#39;$6.49&#39;, &#39;$1.29&#39;, &#39;$299.99&#39;, &#39;$379.99&#39;,
       &#39;$37.99&#39;, &#39;$18.99&#39;, &#39;$389.99&#39;, &#39;$8.49&#39;, &#39;$1.75&#39;, &#39;$14.00&#39;, &#39;$2.00&#39;,
       &#39;$3.08&#39;, &#39;$2.59&#39;, &#39;$19.40&#39;, &#39;$3.90&#39;, &#39;$4.59&#39;, &#39;$15.46&#39;, &#39;$3.04&#39;,
       &#39;$13.99&#39;, &#39;$4.29&#39;, &#39;$3.28&#39;, &#39;$4.60&#39;, &#39;$1.00&#39;, &#39;$2.95&#39;, &#39;$2.90&#39;,
       &#39;$1.97&#39;, &#39;$2.56&#39;, &#39;$1.20&#39;], dtype=object)

Since all prices are ordinal data without exceptions, we can tranform this column by removing the dollar sign and converting to numeric. We can create a new column called `Price Numerical` and drop the original column.

We will achieve our goal in three steps. Follow the instructions of each step below.

#### First we remove the dollar sign. Do this in the next cell by applying the `str.replace` function to the column to replace `$` with an empty string (`''`).

In [20]:
google_missing_removed["Price Numerical"] = google_missing_removed["Price"].str.replace("$", "")

#### Second step, coerce the `Price Numerical` column to numeric.

In [21]:
google_missing_removed["Price Numerical"] = pd.to_numeric(google_missing_removed["Price Numerical"])

**Finally, drop the original `Price` column.**

In [22]:
google_missing_removed.drop(columns="Price", inplace=True)

Now check the variable types of `google_missing_removed`. Make sure:

* `Size` and `Price` columns have been removed.
* `Rating`, `Reviews`, and `Price Numerical` have the type of `float64`.
* `Last Updated` has the type of `datetime64`.

In [23]:
print(google_missing_removed.dtypes)

App                        object
Category                   object
Rating                    float64
Reviews                     int64
Installs                   object
Type                       object
Content Rating             object
Genres                     object
Last Updated       datetime64[ns]
Current Ver                object
Android Ver                object
Reviews_numeric           float64
Reviews_isnull               bool
Price Numerical           float64
dtype: object

# Challenge 2 - Loading and Extracting Features from the Second Dataset

Load the second dataset to the variable `google_reviews`. The data is in the file `googleplaystore_user_reviews.csv`.

In [24]:
# Your code here:

google_reviews = pd.read_csv('../googleplaystore_user_reviews.csv')

#### This dataset contains the top 100 reviews for each app. 

Let's examine this dataset using the `head` function

In [25]:
google_reviews.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

#### The main piece of information we would like to extract from this dataset is the proportion of positive reviews of each app. 

Columns like `Sentiment_Polarity` and `Sentiment_Subjectivity` are not to our interests because we have no clue how to use them. We do not care about `Translated_Review` because natural language processing is too complex for us at present (in fact the `Sentiment`, `Sentiment_Polarity`, and `Sentiment_Subjectivity` columns are derived from `Translated_Review` the data scientists). 

What we care about in this challenge is `Sentiment`. To be more precise, we care about **what is the proportion of *Positive* sentiment of each app**. This will require us to aggregate the `Sentiment` data by `App` in order to calculate the proportions.

Now that you are clear about what we are trying to achieve, follow the steps below that will walk you through towards our goal.

#### Our first step will be to remove all rows with missing sentiment. 

In the next cell, drop all rows with missing data using the `dropna()` function and assign this new dataframe to `review_missing_removed`.

In [26]:
reviews_missing_removed = google_reviews.dropna(subset=["Sentiment"])

#### Now, use the `value_counts()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) to get a sense on how many apps are in this dataset and their review counts.

In [27]:
reviews_missing_removed["App"].value_counts()

Bowmasters                        312
Angry Birds Classic               273
Helix Jump                        273
Calorie Counter - MyFitnessPal    255
Duolingo: Learn Languages Free    240
                                 ...
Google Trips - Travel Planner       1
Apartment Decorating Ideas          1
Draw In                             1
HD Camera                           1
Discover Mobile                     1
Name: App, Length: 865, dtype: int64

#### Now the tough part comes. Let's plan how we will achieve our goal:

1. We will count the number of reviews that contain *Positive* in the `Sentiment` column.

1. We will create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app.

1. We will then loop the new dataframe to calculate the postivie review portion of each app.

#### Step 1: Count the number of positive reviews.

In the following cell, write a function that takes a column and returns the number of times *Positive* appears in the column. 

*Hint: One option is to use the `np.where()` function ([documentation](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html)).*

In [28]:
# Your code below

def positive_function(x):
    """
    Count how many times the string `Positive` appears in a column (exact string match).
    
    Args:
        x: data column
    
    Returns:
        The number of occurrences of `Positive` in the column data.
    """
    return (x == "Positive").sum()

#### Step 2: Create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app

We will group `review_missing_removed` by the `App` column, then aggregate the grouped dataframe on the number of positive reviews and the total review counts of each app. The result will be assigned to a new variable `google_agg`. Here is the ([documentation on how to achieve it](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)). Take a moment or two to read the documentation and google examples because it is pretty complex.

When you obtain `google_agg`, check its values to make sure it has an `App` column as its index as well as a `Positive` column and a `Total` column. Your output should look like:

![Positive Reviews Agg](positive-review-agg.png)

*Hint: Use `positive_function` you created earlier as part of the param passed to the `agg()` function in order to aggregate the number of positive reviews.*

#### Bonus:

As of Pandas v0.23.4, you may opt to supply an array or an object to `agg()`. If you use the array param, you'll need to rename the columns so that their names are `Positive` and `Total`. Using the object param will allow you to create the aggregated columns with the desirable names without renaming them. However, you will probably encounter a warning indicating supplying an object to `agg()` will become outdated. It's up to you which way you will use. Try both ways out. Any way is fine as long as it works.

In [29]:
google_agg = reviews_missing_removed.groupby("App").agg({"Sentiment": [positive_function, "count"]})
google_agg.columns = ["Positive", "Total"]

Print the first 5 rows of `google_agg` to check it.

In [30]:
google_agg.head()

                                  Positive  Total
App
10 Best Foods for You                  162    194
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室        31     40
11st                                    23     40
1800 Contacts - Lens Store              64     80
1LINE – One Line with One Touch         27     38

#### Add a derived column to `google_agg` that is the ratio of the `Positive` and the `Total` columns. Call this column `Positive Ratio`. 

Make sure to account for the case where the denominator is zero using the `np.where()` function.

In [31]:
google_agg["Positive Ratio"] = google_agg["Positive"] / google_agg["Total"]

#### Now drop the `Positive` and `Total` columns. Do this with `inplace=True`.

In [32]:
google_agg.drop(columns=["Positive", "Total"], inplace=True)

Print the first 5 rows of `google_agg`. Your output should look like:

![Positive Reviews Agg](positive-review-ratio.png)

In [33]:
google_agg.head()

                                  Positive Ratio
App
10 Best Foods for You                   0.835052
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室        0.775000
11st                                    0.575000
1800 Contacts - Lens Store              0.800000
1LINE – One Line with One Touch         0.710526

# Challenge 3 - Join the Dataframes

In this part of the lab, we will join the two dataframes and obtain a dataframe that contains features we can use in our ML algorithm.

In the next cell, join the `google_missing_removed` dataframe with the `google_agg` dataframe on the `App` column. Assign this dataframe to the variable `google`.

In [34]:
google = google_missing_removed.join(google_agg, on="App", how="inner")

#### Let's look at the final result using the `head()` function. Your final product should look like:

![Final Product](google-final-head.png)

In [35]:
google.head()

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric,Reviews_isnull,Price Numerical,Positive Ratio
1,Coloring book moana,ART_AND_DESIGN,3.9,967,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,967.0,False,0.0,0.590909
2033,Coloring book moana,FAMILY,3.9,974,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,974.0,False,0.0,0.590909
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,"1,000,000+",Free,Everyone,Art & Design,2017-09-20,2.9.2,3.0 and up,13791.0,False,0.0,0.711111
18,FlipaClip - Cartoon animation,ART_AND_DESIGN,4.3,194216,"5,000,000+",Free,Everyone,Art & Design,2018-08-03,2.2.5,4.0.3 and up,194216.0,False,0.0,1.000000
21,Boys Photo Editor - Six Pack & Men's Suit,ART_AND_DESIGN,4.1,654,"100,000+",Free,Everyone,Art & Design,2018-03-20,1.1,4.0.3 and up,654.0,False,0.0,0.605263